body {
  margin: 0;
   font-family: helvetica;
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */ 
}

:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

body {
  padding: 2vmin;
  height: 100vh;
}

#root {
  height: 100%;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  gap: .5vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

a {
  color: var(--accent);
  padding: 1vmin;
  border-radius: 1vmin;
  text-decoration: none !important;
}

a:hover {
  color: var(--black);
  background-color: var(--accent);
}

a.active {
  color: var(--background);
  background-color: var(--black);
  cursor: default;
}

.panel-heading {
  justify-content: center;
}